* {
  box-sizing: border-box;
}

header, nav, main, footer {
  display: block;
}

body {
  background-color: #B3CED5;
  color: #666666;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: repeating-linear-gradient(to bottom, #75E3E1, #FFFFFF);
}

header {
  background-color: #FFFFFF;
  color: #898989;
  font-size: 150%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 1px;
}

h1 {
  line-height: 320%;
  background-image: url(RobersonLogoGrayscale.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 1em;
  height: 175px;
  margin-bottom: 0;
}

nav {
  font-weight: bold;
  padding: 0;
  float: left;
  width: 150px;
  line-height: 50px;
}

.twitch {
  height: 50px;
  width: 75px;
}

nav ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 0em;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #B3CED5;
}

nav a:visited {
  color: #000000;
}

nav a:hover {
  color: #FFFFFF;
}

h2 {
  color: #000000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

dt {
  color: #747474;
  font-weight: bold;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
}

footer {
  font-size: .70em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  margin-left: 170px;
}

main {
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 1px;
  padding-top: 1em;
  margin-left: 170px;
  display: block;
}

#zoom {
  width: auto;
  min-width: 0px;
  margin: 0px;
  box-shadow: none;
}

h1 {
  margin: 20px;
}

.video {
  text-align: center;
  padding-top: 2em;
}

#blast {
  margin-left: 0px;
}

#woo {
  margin-left: 0px;
}

#zam {
  margin-left: 0px;
}

@media only all and (max-width: 768px) {
  h1 {
    height: 100%;
    font-size: 1.5em;
    padding-left: 0.3em;
  }

  nav {
    padding: 0em;
  }

  nav {
    display: block;
    padding: 0.2em;
    font-size: 1.1em;
    border-bottom: 1px;
    border-bottom-color: #330000;
  }

  nav ul {
    margin: 0px;
    padding: 0em;
  }

  nav li {
    display: block;
    margin: 0px;
    padding: 0em;
  }

  main {
    padding-top: 0.1em;
    padding-right: 0.6em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
  }

  #homehero {
    display: none;
  }

  #yurthero {
    display: none;
  }

  #trailhero {
    display: none;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }
}

# {
  height: 300px;
  background-image: url(coast.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 170px;
}

#yurthero {
  height: 300px;
  background-image: url(yurt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 170px;
}

#trailhero {
  height: 300px;
  background-image: url(trail.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 170px;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000033;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 3px 3px 3px #000033;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}